*{
    margin: 0;
}
.head{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.head2{
    display: flex;
    gap: 5%;
}
.button1{
    background-color: rgb(255, 68, 0);
    color: white;
    padding: 20px;
    
}
.lll{
    font-size: 70px;
}
.section1{
    margin: 200px 300px ;
    display: flex;
}
.p1{
    font-size: 20px;
}
.button2{
    background-color: rgb(66, 66, 255);
    color: white;
    padding: 20px;
    width: 200px;
}
.image1{
    position: absolute;
    z-index: 1;
}
.image2{
    position: absolute;
    z-index: 2;
    top: 700px;
    left: 1080px;
}
.image3{
    position: absolute;
    z-index: 0;
    top: 400px;
    left: 700px;
}
.section2{
    margin: 200px 300px ;
    display: flex;
}
.image4{
    position: absolute;

}
.image5{
    position: absolute;
    left: 500px;
    bottom: -800px;
}
.logos{
    display: flex;
    justify-content: center;
    gap: 7%;
}
.hz{
    margin-left: 500px; ;
}
.blue{
    color: blue;
}
.section3{
    display: flex;
    margin:200px 300px;
    gap: 3%;
}
.image6{
    position: absolute;
    z-index: 1;
}
.image7{
    position: absolute;
    z-index: 0;
    left: 900px;
}
.section4{
    display: flex;
    justify-content: center;
    gap: 4%;
}